@media (max-width: 1800px) {
  .map {
    background-image: none;
  }
  .map-resp {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .btn.btn-custom {
    margin-left: 0;
  }
  .header-box__title {
    line-height: 65px;
    font-size: 50px;
  }
  .header-phone {
    display: none;
  }
  .header__content-block {
    min-height: 620px;
  }
  .brands__item {
    margin: 30px 20px;
  }
  .apps__box {
    img {
      margin-right: 20px;
    }
  }
  .smart__left {
    margin-bottom: 20px;
  }
  .smart-nav {
    img {
      margin-top: 20px;
    }
  }
  .smart__row {
    margin-bottom: 10px;
  }
  .apps-block__left {
    display: none;
  }
  .design-bg {
    background-image: none;
  }
  .design__box {
    margin-left: 10px;
  }
  .chose__box {
    margin-top: 20px;
  }
  .choose__title {
    margin-top: 0;
  }
  .choose .row {
    margin-bottom: 10px;
  }
  .ultimate {
    background-image: none;
  }
  .ultimate .row {
    margin-bottom: 10px;
  }
  .ultimate__text {
    margin-bottom: 10px;
  }
  .price-right {
    margin-top: 35px;
  }
  .questions__box-title {
    font-size: 15px;
  }
  .questions__box-title {
    padding-right: 40px;
    &::before {
      right: 15px;
    }
    &::after {
      right: 15px;
    }
  }
  .questions__title {
    margin-top: 0;
  }
  .map {
    margin-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .header-box__title {
    line-height: 50px;
    font-size: 35px;
  }
  .smart__left {
    line-height: 35px;
    font-size: 25px;
  }
  .questions__box-title {
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .header-box__bottom {
    display: flex;
    flex-direction: column;
    a {
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }
  .apps__box {
    display: block;
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    .apps__box-text {
      margin: 0 auto;
    }
  }
  .ultimate__box {
    img {
      margin-top: 20px;
    }
  }
  .slider-item__inner {
    display: block;
  }
  .questions__box-title {
    line-height: 35px;
  }
}