@media (max-width: 992px) {
  .btn.btn-custom {
    margin-left: 0;
  }
  .header-box__title {
    line-height: 65px;
    font-size: 50px;
  }
  .header-phone {
    display: none;
  }
  .header__content-block {
    min-height: 620px;
  }
  .brands__item {
    margin: 30px 20px;
  }
}
@media (max-width: 767px) {
  .header-box__title {
    line-height: 50px;
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .header-box__bottom {
    display: flex;
    flex-direction: column;
    a {
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }
}