@import "vars";
@import "libs";
@import "fonts";
@import "global";

.btn.btn-custom {
  background-color: #2500F9;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 55px;
  font-weight: 600;
  border-radius: 35px;
  margin-left: 60px;
  width: 170px;
}
.header .nav-item.nav-item__custom {
  a {
    line-height: 44px;
    font-size: 16px;
    color: #242F51;
    font-weight: 600;
  }
}
.header__content {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__content-block {
  min-height: 850px;
}
.header-box {
  max-width: 520px;
  min-height: 370px;
  margin-right: 35px;
}
.header-phone {
  max-width: 362px;
  margin-left: 35px;
  img {
    width: 100%;
  }
}
.header-box__top {
  position: relative;
  line-height: 35px;
  font-size: 18px;
  color: #242F51;
  background-color: #E2EAED;
  max-width: 360px;
  border-radius: 20px;
  padding-left: 50px;
  margin-bottom: 25px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    background-color: #FEAA25;
    background-image: url(../img/check.png) no-repeat center center;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-box__title {
  line-height: 75px;
  font-size: 60px;
  color: #242F51;
  font-weight: 600;
  margin-bottom: 35px;
}
.header-box__text {
  line-height: 28px;
  font-size: 18px;
  color: #616368;
  font-weight: 400;
  margin-bottom: 35px;
}
.header .header-box__bottom {
  button {
    margin-left: 0;
  }
  a {
    font-size: 16px;
    line-height: 44px;
    color: #2500F9;
    margin-left: 25px;
    text-decoration: none;
  }
}
.brands {
  margin-bottom: 170px;
}
.brands__title {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #242F51;
  margin-top: 110px;
  margin-bottom: 25px;
  text-align: center;
}
.apps {
  background-image: url(../img/apps-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 770px;
  position: relative;
}
.apps-block__left {
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 120px;
  }
}
.apps__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 285px;
  margin-bottom: 25px;
}
.apps__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 435px;
  margin-bottom: 90px;
}
.apps__box {
  max-width: 385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.apps__box-title,
.smart__title {
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
  &.red {
    color: #F55767;
  }
  &.blue {
    color: #2563FF;
  }
  &.green {
    color: #40975F;
  }
}
.apps__box-text,
.smart__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 255px;
}
.smart {
  margin-top: 150px;
  margin-bottom: 105px;
}
.smart__left {
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #242F51;
  max-width: 500px;
  padding-right: 50px;
  border-right: 1px solid #B9B9B8;
}
.smart__right {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 410px;
}
.smart__title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.smart__row {
  margin-bottom: 110px;
}
.smart-nav {
  padding-left: 70px;
}
.design {
  min-height: 625px;
}
.design-bg {
  background-image: url(../img/design-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 625px;
}
.design__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 350px;
  margin-bottom: 25px;
}
.design__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 410px;
  margin-bottom: 40px;
}
.design .btn.btn-design {
  margin-left: 0;
}
.design-heigh {
  min-height: 625px;
}
.design__box {
  margin-left: 100px;
}
.choose__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 435px;
  margin: 135px auto 0;
}
.choose__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 635px;
  text-align: center;
  margin: 35px auto 85px;
}
.chose__box {
  max-width: 260px;
  text-align: center;
}
.choose__box-title,
.ultimate__box-title {
  line-height: 58px;
  font-size: 20px;
  font-weight: 600;
  color: #242F51;
  margin-top: 10px;
}
.choose__box-text,
.ultimate__box-text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
}
.choose .row,
.ultimate .row {
  margin-bottom: 60px;
}
.ultimate__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 320px;
  margin-bottom: 20px;
}
.ultimate__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 60px;
}
.ultimate {
  margin-top: 120px;
  background-image: url(../img/ultimate-bg.png);
  background-position: right center;
  background-repeat: no-repeat;
  & .btn.btn-ultimate {
    margin-left: 0;
  }
}
.ultimate__box {
  button {
    margin-top: 50px;
  }
}
.features {
  margin-bottom: 40px;
}
.features__title,
.questions__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 575px;
  margin: 135px auto 0;
}
.features__text,
.questions__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 635px;
  text-align: center;
  margin: 35px auto 85px;
}
.switch {
  position: relative;
  width: 285px;
  height: 60px;
  border: 2px solid #EBEBEB;
  border-radius: 30px;
  margin-bottom: 40px;
  &:hover {
    cursor: pointer;
  }
  &.active .switch__toggle {
    left: 145px;
  }
  &::before {
    content: 'Monthly';
    position: absolute;
    left: 35px;
    top: 15px;
    color: #fff;
    z-index: 10;
    font-size: 16px;
    font-weight: 600;
  }
  &::after {
    content: 'Annually';
    position: absolute;
    right: 35px;
    top: 15px;
    color: #898A8E;
    z-index: 10;
    font-size: 16px;
    font-weight: 600;
  }
  &.active::before {
    color: #898A8E;
  }
  &.active::after {
    color: #fff;
  }
}
.switch__toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 135px;
  height: 50px;
  background-color: #2500F9;
  border-radius: 30px;
}
.price-left {}
.price-right {
  border: 2px solid #EBEBEB;
  border-radius: 10px;
}
.price-top {
  background: linear-gradient(#FDFEFE, #F4F7F9);
  text-align: center;
  position: relative;
  z-index: -1;
}
.price {
  line-height: 58px;
  font-size: 60px;
  color: #242F51;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 70px;
  sub {
    line-height: 28px;
    font-size: 18px;
    color: #999CA5;
    font-weight: 400;
  }
}
.price-title {
  line-height: 28px;
  font-size: 20px;
  color: #242F51;
  font-weight: 600;
  margin-bottom: 10px;
}
.price-text {
  line-height: 28px;
  font-size: 16px;
  color: #999CA5;
  font-weight: 400;
  margin-bottom: 40px;
}
.price-bottom {
  text-align: center;
}
.price-list {
  margin-bottom: 35px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    line-height: 48px;
    font-size: 16px;
    color: #999CA5;
    font-weight: 400;
  }
}
.features .btn.btn-features {
  margin-left: 0;
  width: 210px;
  height: 55px;
  line-height: 40px;
}
.price-block {
  max-width: 320px;
}
.price-link  {
  margin-top: 25px;
  margin-bottom: 25px;
  a {
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    color: #2500F9;
  }
}
.map {
  margin-bottom: 170px;
  margin-top: 200px;
  background-image: url(../img/map.png);
  background-position: 160px center;
  background-repeat: no-repeat;
}
.map-block__title {
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #242F51;
  margin-bottom: 20px;
}
.map-block__text {
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 35px;
}
.map-block__titlesec {
  line-height: 58px;
  font-size: 20px;
  font-weight: 600;
  color: #242F51;
}
.map-block__textsec {
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 60px;
}
.slider-item__inner {
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
  }
}
.slider-item__title {
  line-height: 45px;
  font-size: 18px;
  font-weight: 600;
  color: #242F51;
}
.slider-item__text {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: #616368;
}
.slick-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  background: #EFF3F8;
  border: 2px solid #EFF3F8;
  z-index: 10;
  &.slick-stick {
    &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #EFF3F8;
    right: -13px;
    top: 10px;
    }
  }
}
.slick-btn.slick-prev {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.slick-btn.slick-next {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.arrow-next {
  width: 15px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  &::before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(45deg) translateY(-4px);
}
  &::after {
    content: "";
    width: 8px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 49%;
    right: 0;
    transform: rotate(-45deg) translateY(4px);
  }
}
.arrow-prev {
  width: 15px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  &::before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg) translateY(-4px);
}
  &::after {
    content: "";
    width: 8px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 49%;
    left: 0;
    transform: rotate(45deg) translateY(4px);
  }
}
.map-block__slider .slick-disabled {
  background-color: transparent;
  & .arrow-prev {
    background-color: #EFF3F8;
    &::before {
      background-color: #EFF3F8;
    }
    &::after {
      background-color: #EFF3F8;
    }
  }
  & .arrow-next {
    background-color: #EFF3F8;
    &::before {
      background-color: #EFF3F8;
    }
    &::after {
      background-color: #EFF3F8;
    }
  }
}
.questions {
  margin-bottom: 110px;
}
.questions__box {
  margin: 0 auto;
  max-width: 940px;
}
.questions__box-title {
  position: relative;
  line-height: 58px;
  font-size: 20px;
  font-weight: 600;
  color: #242F51;
  padding-left: 45px;
  background-color: #F5F7FA;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: '';
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: #242F51;
  }
  &::after {
    content: '';
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: .3s;
    width: 20px;
    height: 3px;
    background-color: #242F51;
  }

}
.questions__box-text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  padding: 20px 85px 80px 45px;
  background-color: #F5F7FA;
  display: none;
  margin-bottom: 10px;
}
.questions__box-title.active {
  margin-bottom: 0;
}
.questions__box-title.active::after {
  transform: rotate(0deg);
}
.questions__box-title.active + .questions__box-text {
  display: block;
}
footer {
  // background-image: url(../img/footer-bg.png);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
.download {
  padding-top: 155px;
  border-top: 2px solid #F4F4F4;
  background-image: url(../img/download-bg.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.download__title {
  color: #242F51;
  line-height: 58px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 35px;
}
.download__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 50px;
}
.download__linkbox {
  margin-bottom: 110px;
  a + a {
    margin-left: 35px;
  }
}
.footer-bottom {
  background-image: url(../img/footer-bottom-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-bottom__logo {
  margin-bottom: 50px;
  margin-top: 100px;
}
.footer-navbar {}
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 50px;
}
.navbar-item {}
.nav-link {
  color: #fff;
}
.social-block {
  margin-bottom: 90px;
  a {
    font-size: 35px;
    color: #273043;
  }
  a + a {
    margin-left: 20px;
  }
}
.social-block__ico-1 {
  &::before {
    content: '\f09a';
    font-family: 'icomoon';
  }
}
.social-block__ico-2 {
  &::before {
    content: '\f099';
    font-family: 'icomoon';
  }
}
.social-block__ico-3 {
  &.active {
    color: #fff;
  }
  &::before {
    content: '\f198';
    font-family: 'icomoon';
  }
}
.social-block__ico-4 {
  &::before {
    content: '\f092';
    font-family: 'icomoon';
  }
}
.footer-bottom__text {
  line-height: 44px;
  font-size: 14px;
  font-weight: 400;
  color: #3D465A;
  margin-bottom: 120px;
}



@import "media";