@import "vars";
@import "libs";
@import "fonts";
@import "global";

.btn.btn-custom {
  background-color: #2500F9;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 55px;
  font-weight: 600;
  border-radius: 35px;
  margin-left: 60px;
  width: 170px;
}
.header .nav-item.nav-item__custom {
  a {
    line-height: 44px;
    font-size: 16px;
    color: #242F51;
    font-weight: 600;
  }
}
.header__content {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__content-block {
  min-height: 850px;
}
.header-box {
  max-width: 520px;
  min-height: 370px;
  margin-right: 35px;
}
.header-phone {
  max-width: 362px;
  margin-left: 35px;
  img {
    width: 100%;
  }
}
.header-box__top {
  position: relative;
  line-height: 35px;
  font-size: 18px;
  color: #242F51;
  background-color: #E2EAED;
  max-width: 360px;
  border-radius: 20px;
  padding-left: 50px;
  margin-bottom: 25px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    background-color: #FEAA25;
    background-image: url(../img/check.png) no-repeat center center;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-box__title {
  line-height: 75px;
  font-size: 60px;
  color: #242F51;
  font-weight: 600;
  margin-bottom: 35px;
}
.header-box__text {
  line-height: 28px;
  font-size: 18px;
  color: #616368;
  font-weight: 400;
  margin-bottom: 35px;
}
.header .header-box__bottom {
  button {
    margin-left: 0;
  }
  a {
    font-size: 16px;
    line-height: 44px;
    color: #2500F9;
    margin-left: 25px;
    text-decoration: none;
  }
}
.brands {
  margin-bottom: 170px;
}
.brands__title {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #242F51;
  margin-top: 110px;
  margin-bottom: 25px;
  text-align: center;
}
.apps {
  background-image: url(../img/apps-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 770px;
  position: relative;
}
.apps-block__left {
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 120px;
  }
}
.apps__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 285px;
  margin-bottom: 25px;
}
.apps__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 435px;
  margin-bottom: 90px;
}
.apps__box {
  max-width: 385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.apps__box-title,
.smart__title {
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
  &.red {
    color: #F55767;
  }
  &.blue {
    color: #2563FF;
  }
  &.green {
    color: #40975F;
  }
}
.apps__box-text,
.smart__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 255px;
}
.smart {
  margin-top: 150px;
  margin-bottom: 105px;
}
.smart__left {
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #242F51;
  max-width: 500px;
  padding-right: 50px;
  border-right: 1px solid #B9B9B8;
}
.smart__right {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 410px;
}
.smart__title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.smart__row {
  margin-bottom: 110px;
}
.smart-nav {
  padding-left: 70px;
}
.design {
  min-height: 625px;
}
.design-bg {
  background-image: url(../img/design-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 625px;
}
.design__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 350px;
  margin-bottom: 25px;
}
.design__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 410px;
  margin-bottom: 40px;
}
.design .btn.btn-design {
  margin-left: 0;
}
.design-heigh {
  min-height: 625px;
}
.design__box {
  margin-left: 100px;
}
.choose__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 435px;
  margin: 135px auto 0;
}
.choose__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 635px;
  text-align: center;
  margin: 35px auto 85px;
}
.chose__box {
  max-width: 260px;
  text-align: center;
}
.choose__box-title,
.ultimate__box-title {
  line-height: 58px;
  font-size: 20px;
  font-weight: 600;
  color: #242F51;
  margin-top: 10px;
}
.choose__box-text,
.ultimate__box-text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
}
.choose .row,
.ultimate .row {
  margin-bottom: 60px;
}
.ultimate__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 320px;
  margin-bottom: 20px;
}
.ultimate__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  margin-bottom: 60px;
}
.ultimate {
  margin-top: 120px;
  background-image: url(../img/ultimate-bg.png);
  background-position: right center;
  background-repeat: no-repeat;
  & .btn.btn-ultimate {
    margin-left: 0;
  }
}
.ultimate__box {
  button {
    margin-top: 50px;
  }
}
.features__title {
  line-height: 46px;
  font-size: 36px;
  font-weight: 600;
  color: #242F51;
  max-width: 575px;
  margin: 135px auto 0;
}
.features__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #616368;
  max-width: 635px;
  text-align: center;
  margin: 35px auto 85px;
}





@import "media";